.contact-message {
  width: 100%;
  resize: none;
  color : $primary-gray;
  padding: 1rem;
  font-size: map-get($map: $fontSizes, $key:"text-3xs" );
  border: 1px solid #444;
  border-radius: 3px;
  overflow-wrap : break-word;
  font-family: 'Poppins',sans-serif;

  &:focus{
    outline: none;
  }

}