.btn-login {
  color: #fff;
  border: 1px solid #fff;
}

.btn-register {
  border: 1px solid #fff;
  color: black;
  background: #fff;
}

.btn-toolbar {
  background-color: $primary-color-dark;
  color: #81b6de;
}

.btn-primary {
  background-color : $primary-btn-color;
  border: 1px solid $primary-btn-color;
}