.line-number {
  background: $secondary-color-dark;
}

.line{
  color: white;
}

.toolbar {
  background: $secondary-color-dark;
}

.fn-call {
  color: #64aeb3;
}

.string {
  color: #64aeb3;
}

.keyword {
  color:  #508aaa;
}

.variable {
  color: #ffffff;
}

.comment, .singlequote, .doublequote {
  color: #414d62;
}

.boolean {
  color: #0d6efd;
}

.number {
  color: #52708b;
}

.html-open, .html-close {
  color: #f6de55;
}

.symbol {
  color: #508aaa;
}

.semicolumn {
  color: #f58e0f;
}

.source-pre, .source{
  background: #181D26;
}

.php{
  .variable{
    color: #6AB0A3;
  }
}
