.paste-section {
  background: $primary-color-dark;

  .paste-text-area {
    background-color: $secondary-color-dark;
  }
}

.expire-date {
  span {
    color: $text-color;
  }
}

.date {
  span {
    color: $text-color;
  }
}

.number-of-views {
  span {
    color:$text-color;
  }
}

.burn-after-read-warning{
  color: white;
}