// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

// Variables should follow the `$component-state-property-size` formula for
// consistent naming. Ex: $nav-link-disabled-color and $modal-content-box-shadow-xs.
//
// Always use !default flags so the variables can be overwritten.

// Since we use Tailwind, a lot of variables are also defined in tailwind.config.js

// COLOR SYSTEM (TODO: Check if all are used
$primary-color: #7B4FFF !default;
$secondary-color: #707070 !default; // Use this one!! We need to get explicit 'grey' out of definitions
$primary-gray: #707070 !default;
$text-color: #707070 !default;
$dark-color: black !default;

// COLOR ELEMENTS
$scrollbar-primary-color: $primary-color !default;
$scrollbar-bg-color: #000 !default;
$secondary-btn-color: rgb(245, 245, 245) !default;

// FONT
// Values taken from the Figma scheme
$primary-font-family: 'Poppins', sans-serif;
$primary-font-style: normal;
$primary-font-weight: normal;
$primary-font-size: 14px;
$primary-line-height: 180%; /* or 34px, says Figma */
$primary-heading-size: 60px;

$secondary-heading-size: 35px;
$secondary-font-size: 16px;
$tertiary-font-size:14px;
$tertiary-heading-size:30px;

/// Container's maximum width
/// @type Length
$max-width: 1180px !default;

$small-screen-min-height:40vh;
$min-background-image-height: 60vh;



/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
$breakpoints: (
  'small': 320px,
  'medium': 768px,
  'large': 1024px,
  'xlarge':1280px,
  'xxlarge':1441px,
  "xxxlarge":2560px
) !default;


/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'http://cdn.example.com/assets/';
$base-url: '/assets/' !default;
