.line-number {
  background: $secondary-color-light;
}

.toolbar {
  background: $secondary-color-light;
}

.fn-call {
  color: #484846;
}

.string {
  color: #198754;
}

.keyword {
  color: #0d5e99;
}

.variable {
  color: #46464a;
}

.comment {
  color: #3c4e2d;
}

.boolean {
  color: #0d6efd;
}

.number {
  color: #dc3545;
}

.html-open, .html-close {
  color: #776703;
}

.symbol {
  color: #2c6442;
}

.semicolumn {
  color: #945608;
}


.singlequote{
  color:#438a06;
}
.doublequote{
  color: #438a06;
}

.html {
  .htmlopen, .htmlclose,.htmlclosetag {
    color: #dc322f;
  }
  .attribute{
    color:#6c71c4;
  }
}


.c\+\+, .c {
  .dependency {
    color: #859900;
  }

  .function {
    color:#b58900;
  }
}


.sql {
  .keyword {
    color: #dc322f;
  }

  .symbol {
    color: #d33682;
  }
}


.php {
  .variable {
    color: #DB784D;
  }
  .function {
    color:#b58900;
  }
}
