$primary-color-dark: #252525 !default;
$secondary-color-dark: #2b2b2b !default; // Use this one!! We need to get explicit 'grey' out of definitions
$primary-gray: #cccccc !default;

$text-color: white;

$scrollbar-primary-color: $primary-color-dark !default;