$secondary-color-light: #f3f4f5;
$primary-color-light: #fff !default;
$text-color-light: #323232 !default;

$text-color-black: #343a40;
$text-color: white;

$scrollbar-primary-color: $primary-color-light !default;

$navbar-color: #2e6581 !default;

$link-color: #417b99;