.alert {
  padding: 0.2rem 0.3rem;
  font-size: 0.75rem;
  border-radius: 3px;

  @include mq(medium) {
    padding: 0.3rem;
    font-size: 0.75rem;
    border-radius: 3px;
  }
}

.alert-info {
  background: $info-color;
}

.alert-success {
  background: #2c6442;
  color: white;
}

.notification {
  position: absolute;
  bottom: 10px;
  right: 10px;
  border-radius: 8px;
}