.alert {
  padding: 0.2rem 0.3rem;
  font-size: 0.75rem;
  border-radius: 3px;

  @include mq(medium){
    padding: 0.3rem;
    font-size: 0.75rem;
    border-radius: 3px;
  }
}

.alert-primary {
  background: $primary-color;
}

.alert-light{
  color: white;
  background: $secondary-color;
}

.alert-outline-light{
  color: white;
  border: 1px solid $primary-gray;
}