.form-control{
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    appearance: none;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    
    &:focus{
        outline: none;
    }

    &:disabled{
        background-color: #c4c4c4;
        cursor: not-allowed;
    }
}

.form-label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

.form-container {
    border-radius: 15px;
    padding: 20px;
}

.form-group {
    display: flex;
    flex: 10 10 auto;
    flex-flow: row;
    align-items: center;
    margin-bottom: 0;
}

.form-check-input[type=checkbox] {
    border-radius: .25em;
}

.form-check .form-check-input {
    float: left;
    margin-left: -1.5em;
}

.form-check-input:checked[type=checkbox] {
    background-image: url("/img/svg/check-mark.svg");
}

.form-check-input:checked {

}

.form-check-input {
    width: 1em;
    height: 1em;
    margin-top: .25em;
    vertical-align: top;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: 1px solid rgba(0,0,0,.25);
    appearance: none;
}

.form-check {
    display: flex;
    min-height: 1.5rem;
    padding-left: 1.5em;
    margin-bottom: .125rem;
    align-items: center;
}

.form-select {
    display: block;
    width: 100%;
    padding: .375rem 2.25rem .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    appearance: none;

    background-image: url("/img/svg/caret.svg");
    background-repeat: no-repeat;
    background-position: right .75rem center;
    background-size: 16px 12px;
}

.simple-form{
    padding: 2rem 2rem;
    margin: 0 auto;
}
