.highlight-container {
  border-radius: 3px;
  margin: 0 0 10px;
  color: #333;
  font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, monospace, serif;
  @include mq(large){
    overflow-x: hidden;
  }
}

.source {
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 100%;
  text-align: left;
  width: 100%;
  @include mq(large){
    overflow-x: hidden;
  }

  .line {
    white-space: nowrap;
  }
}

.source-pre{
  display: flex;
  margin: 0;
  border: 1px solid #707070;
}

.linenum {
  font-size: map-get($fontSizes, "generic-4xs");
  color: #707070;
  //padding: 2px 10px 2px 25px;
  //border-left: 1px solid #707070;
  //border-right: 1px solid #707070;
  margin-right: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.code{
  padding-left: 1rem;
  margin: 0;
  line-height: 10%;
  min-height: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow-x: scroll;
  padding-right: 1rem;
}
.line {
  display: flex;
  align-items: flex-start;
  width: 100%;
  position: relative;
  line-height: 5%;
}


.toolbar {
  display: flex;
  justify-content: space-between;
  padding: 0.75rem;
  border: 1px solid #707070;
}


.fn-call {
  color: yellow;
}

.string {
  color: #198754;
}

.keyword {
  color: #0dcaf0;
}

.variable {
  color: #ced4da;
}

.comment {
  color: #444444;
}

.boolean {
  color: #0d6efd;
}

.number {
  color: #dc3545;
}

.html-open, .html-close {
  color: #f6de55;
}

.symbol {
  color: #79dea0;
}

.semicolumn {
  color: #f58e0f;
}









