/**
 * All the styles for navbars
 */

.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: .5rem 1rem;

  .navbar-brand {
    display: flex;
    justify-content: center;
    align-content: center;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
    text-decoration: none;
  }

  .navbar-container {
    position: relative;
    display: flex;
    align-content: center;
    justify-content: space-between;
    @include mq(medium) {
      justify-content: normal;
    }
  }

  .navbar-nav {
    width: 100%;
    display: flex;
    padding-left: 0;
    margin: 0;
    list-style: none;

    @include mq(medium) {
      flex-direction: row;
    }

    .nav-item {
      .nav-link {
        display: block;
        padding: .5rem 1rem;
        text-decoration: none;
      }
    }
  }


  .navbar-dropdown{
    display: none;
    width: 100%;
    position: absolute;
    left: 0;
    top: 100%;
    background: #707070;
    color: white;

    @include mq(medium){
      display: none;
    }

    .navbar-nav{
      display: flex;
      flex-direction: column;

      .nav-item{
        border-bottom: 0.05rem solid #fff;
        padding-left: 1.2rem;
      }
    }
  }


  .collapse {
    display: none;
    @include mq(medium) {
      display: block;
    }
  }

  .toggle-collapse{
    display: block;
    @include mq(medium){
      display: none;
    }
  }

  .navbar-toggler {
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: .25rem;
    padding: .25rem .5rem;
    outline: none;
    @include mq(medium){
      display: none;
      padding: .25rem .75rem;
    }


    .navbar-toggler-icon {
      background: url("/img/svg/menu.svg");
      display: inline-block;
      width: 1.5em;
      height: 1.5em;
      vertical-align: middle;
      content: "";
      background-size: 100% 100%;

      &:hover {
        cursor: pointer;
        background: url("/img/svg/menu-hover.svg");
        background-size: 100% 100%;
      }
    }
  }
}

.collapse {
  display: none;
  @include mq(medium) {
    display: block;
  }
}

.navbar-collapse {
  display: none;

  @include mq(medium) {
    display: flex;
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center;
    flex-basis: auto;
  }
}

.navbar-dark {
  color: white;
  background: #707070;

  .navbar-brand {
    color: white;
  }

  .navbar-container, .navbar-dropdown {
    .navbar-nav {
      .nav-link {
        color: rgba(255, 255, 255, .5);

        &:hover {
          color: rgba(255, 255, 255, .7);
        }
      }

      .active {
        color: rgba(255, 255, 255, .7);
      }
    }
  }

}



