/**
 * All the styles for navbars
 */

.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: .5rem 1rem;

  .navbar-brand {
    display: flex;
    justify-content: center;
    align-content: center;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
    text-decoration: none;

    @include mq(medium) {
      margin-right: 1rem;
    }
  }

  .navbar-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include mq(medium) {
      justify-content: flex-start;
    }
  }

  .navbar-nav {
    width: 100%;
    display: flex;
    padding-left: 0;
    margin: 0;
    list-style: none;

    @include mq(medium) {
      flex-direction: row;
    }

    .nav-item {
      .nav-link {
        display: block;
        padding: .5rem 1rem;
        text-decoration: none;
      }
    }
  }


  .navbar-dropdown {
    display: none;
    width: 100%;
    position: absolute;
    left: 0;
    top: 100%;
    color: white;

    @include mq(medium) {
      display: none;
    }

    .navbar-nav {
      display: flex;
      flex-direction: column;

      .nav-item {
        border-top: 0.05rem solid #fff;
        padding-left: 1.2rem;
      }
    }
  }


  .collapse {
    display: none;
    @include mq(medium) {
      display: block;
    }
  }

  .toggle-collapse {
    display: block;
    @include mq(medium) {
      display: none;
    }
  }

  .navbar-toggler {
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: .25rem;
    padding: .25rem .5rem;
    @include mq(medium) {
      display: none;
      padding: .25rem .75rem;
    }

    &:focus {
      outline: none;
    }

    .navbar-toggler-icon {
      background: url("/img/svg/menu.svg");
      display: inline-block;
      width: 1.5em;
      height: 1.5em;
      vertical-align: middle;
      content: "";
      background-size: 100% 100%;

      &:hover {
        cursor: pointer;
        background: url("/img/svg/menu-hover.svg");
        background-size: 100% 100%;
      }
    }
  }
}

.collapse {
  display: none;
  @include mq(medium) {
    display: block;
  }
}

.navbar-collapse {
  display: none;

  @include mq(medium) {
    display: flex;
    flex-grow: 1;
    align-items: center;
    flex-basis: auto;
  }
}



.header-paste-btn {
  background: $succes-btn-color url(/img/svg/add.svg) no-repeat 4px center;
  background-size: 13px 13px;
  color: white;
  padding-left: 1.3rem;

  @include mq(medium) {
    margin-left: 3px;
  }
}

.navbar-action-button {
  display: block;
  @include mq(medium) {
    display: none;
  }
}

.login-nav-item-dropdown{
  position: relative;
  &:hover > .login-dropdown-menu {
    display: block;
    opacity: 1;
  }
}

.dropdown-trigger{
  position: relative;

  &:focus + .login-dropdown-menu {
    display: block;
    opacity: 1;
  }

  &::after {
    content: "›";
    position: absolute;
    color: #ED3E44;
    font-size: 24px;
    font-weight: bold;
    transform: rotate(90deg);
    top: -5px;
    right: -15px;
  }
}

.login-dropdown-menu {
  background-color: #f3f4f5;
  text-align: right;
  position: absolute;
  top: 1.6rem;
  right: -6px;
  display: none;
  opacity: 0;
  transition: opacity 0.5s ease;
  width: 100px;
  list-style-type: none;
  margin:0;
  padding: 0;

  a {
    color: #fff;
  }
}

.login-dropdown-menu-item {
  cursor: pointer;
  padding: 1em;
  text-align: center;

  a{
    color: black;
  }

  &:hover {
    background-color: darken(#ED3E44, 5%);
  }
}


.nav-user-name{
  color: red;
}
