.home-section {
  @include mq(medium) {
    background: $primary-color-light;
  }
}

.home-paste {

  textarea {
    background: $secondary-color-light;
    color: $text-color-black;
    padding: 1rem;
  }
}