.paste-section {
  background: $primary-color-light;

  .paste-text-area {
    background-color: $secondary-color-light;
    color: $text-color-black;
  }
}

.burn-after-read-warning{
  color: black;
}